* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.ofertas {
  display: block;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: center;
  background-color: #212121;
  border-style: double;
  border-width: 6px 6px 6px 6px;
  border-color: #212121;
  border-radius: 6px 6px 6px 6px;
  margin: 20px;
}

.subtitulo {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  font-family: "pangram";
}

.botonver {
  display: block;
  text-align: center;
  justify-content: space-around;
  width: 100%;
}

nav {
  background: black;
  width: 100%;
}
@media (max-width: 858px) {
  nav {
    position: fixed;
    top: 0;
    z-index: 3;
  }
}
@media (max-width: 640px) {
  nav {
    top: 0;
  }
}
nav .logo {
  width: 10%;
}
@media (max-width: 858px) {
  nav .logo {
    width: 22%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  nav .logo {
    width: 30%;
  }
}
nav ul {
  float: right;
  margin-right: 20px;
}
@media (max-width: 858px) {
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: gray;
    background: #5D6D7E;
    top: auto;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 2;
  }
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0px 5px;
}
@media (max-width: 858px) {
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
}
nav ul li a {
  color: white;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
@media (max-width: 858px) {
  nav ul li a {
    font-size: 20px;
  }
}
nav ul li a.active, nav ul li a:hover {
  background: gray;
  transition: 0.5s;
}
@media (max-width: 858px) {
  nav ul li a.active, nav ul li a:hover {
    background: none;
    color: red;
  }
}

@media (max-width: 858px) {
  header {
    margin-bottom: 170px;
  }
}
@media (max-width: 640px) {
  header {
    margin-bottom: 170px;
  }
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
    line-height: 130px;
  }
}
@media (max-width: 640px) {
  .checkbtn {
    line-height: 110px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .checkbtn {
    line-height: 110px;
    margin-right: 20px;
  }
}

#check {
  display: none;
}

.titulo {
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
  font-family: "pangram";
  text-decoration-line: underline;
  width: 100%;
  font-size: 4vh;
  margin: 40px 0px 40px;
}

.titulo-principal {
  font-family: "pangram";
  text-align: center;
  width: 100%;
  font-size: 4vh;
  margin: 40px 0px 40px;
}

.slide {
  margin-top: 10px;
}

.carousel-inner {
  width: 70%;
  margin: 0 auto;
  z-index: 1;
}
@media (min-width: 320px) and (max-width: 480px) {
  .carousel-inner {
    width: 90%;
    margin: 0 auto;
  }
}

.carousel-control-prev, .carousel-control-next {
  margin: 0 auto;
  width: 40%;
}

.carousel-indicators {
  z-index: 2;
}

.carousel {
  z-index: 1;
}

.tarjeta {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
}
@media (max-width: 858px) {
  .tarjeta {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
  }
}

.tarjetas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 20%;
  height: auto;
  border: solid 2px;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.tarjetas h3 {
  font-size: 25px;
}
.tarjetas p {
  font-size: 14px;
}
.tarjetas img {
  width: 80%;
}
@media (max-width: 858px) {
  .tarjetas {
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
    height: auto;
    border: solid 2px;
    color: black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
}

.tarjetas:hover {
  box-shadow: 5px 5px 10px rgba(230, 7, 7, 0.418);
  transform: translateY(-3%);
}

.tarjetas button {
  width: 100px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: rgba(230, 7, 7, 0.418);
  font-family: Work Sans;
  line-height: 28px;
}

button {
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 1px solid rgb(0, 0, 0);
}

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
}

.contact {
  text-align: center;
  font-family: "pangram";
  font-size: 35px;
  color: black;
  margin: 10px;
}

.contacto-wrapper {
  color: white;
  box-shadow: 0 0 20px 0 rgb(255, 255, 255);
}

.contacto-wrapper > * {
  padding: 16px;
}

.contacto-form {
  background: #5D6D7E;
  border: 5px solid black;
}

.contacto-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacto-form form .block {
  grid-column: 1/3;
}

.contacto-form form p {
  margin: 0;
  padding: 16px;
}

.contacto-form form button,
.contacto-form form input,
.contacto-form form textarea {
  width: 100%;
  padding: 11.2px;
  border: none;
  background: none;
  outline: none;
  color: white;
  border-bottom: 1px solid #d63031;
}

.contacto-form form button {
  background: #b70e21;
  color: black;
  border: 0;
  text-transform: uppercase;
  padding: 16px;
}

.contacto-form form button:hover,
.contacto-form form button:focus {
  background: #d63031;
  color: white;
  outline: 0;
}

.contacto-info {
  background: #000;
  color: white;
}

.contacto-info h4,
.contacto-info ul,
.contacto-info p {
  text-align: center;
  margin: 0 0 16px 0;
}

.contacto-info ul {
  list-style: none;
  padding: 0;
}

.contacto-info ul li {
  padding: 4px;
}

.caja > div {
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.caja > div p {
  font-family: Didot;
  font-size: 20px;
}

.mapa {
  display: flex;
  justify-content: center;
  padding: 5px;
  border: solid 8px black;
  border-radius: 10px;
  margin: 15px;
  background-color: darkgray;
}

footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 858px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}

.cajafooter {
  display: flex;
  justify-content: space-around;
}

.atencionCliente {
  color: white;
  margin: 20px;
  max-width: 300px;
  border: solid 2px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
}

.mediosDePago {
  color: white;
  margin: 10px;
  max-width: 300px;
  border: solid 2px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
}
.mediosDePago i {
  color: white;
  font-size: 20px;
  margin: 10px;
}

.redes {
  color: white;
  margin: 10px;
  max-width: 300px;
  border: solid 2px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
}
.redes i {
  font-size: 30px;
  margin: 10px;
}

.newsletter {
  margin: 10px;
  max-width: 300px;
  border: solid 2px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
}

.contenido {
  padding: 10px;
  margin: 10px;
  border: solid 2px;
  color: rgb(255, 255, 255);
}

@media (max-width: 858px) {
  #check:checked ~ ul {
    left: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
