%block-ofertas{
    display: block;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
    background-color: #212121;
    border-style: double;
    border-width: 6px 6px 6px 6px;
    border-color: #212121;
    border-radius: 6px 6px 6px 6px;
    margin: 20px;
}

%subtitulo{
    color:rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    font-family:"pangram";
}

%botonproductos{
    display:block;
    text-align: center;
    justify-content: space-around;
    width: 100%;
}