.titulo{
    color: rgb(0, 0, 0);
    font-size: 40px;
    text-align: center;
    font-family: "pangram";
    text-decoration-line: underline;
    width: 100%;
    font-size: 4vh;
    margin: 40px 0px 40px;
}

.titulo-principal{
   
    font-family:"pangram";
    text-align: center;
    width: 100%;
    font-size: 4vh;
    margin: 40px 0px 40px    
}

.subtitulo{
    @extend %subtitulo
}

.botonver{
   @extend %botonproductos
}
    
.ofertas{
    @extend %block-ofertas  
}
